@import 'Variables.pcss';

.contact {
  .icons {
    max-width: 11em;
    margin: 1.5em auto;
    lost-utility: clearfix;

    > div {
      lost-waffle: 1/2;
    }
  }

  .text {
    text-align: center;
    font-style: italic;
    color: var(--color2);
    margin: 1em 0;
  }
}
