@import 'Variables.pcss';

@lost flexbox flex;

.demo {
  margin: 1em auto;
}

.row {
  lost-center: 470px;
}

.title {
  lost-column: 1;
  font-size: 1.7em;
  font-weight: bold;
  color: var(--color2);
}

.icon {
  lost-column: 1/4;
  position: relative;
}

.description {
  lost-column: 3/4;

  ul {
    line-height: 2em;
  }
}

.features {
  lost-column: 1;
}

.links {
  lost-column: 1;
}
