@import 'Variables.pcss';

@lost flexbox flex;

.headerIcons {
  line-height: 0;
  text-align: right;

  a {
    display: inline-block;
    transition: opacity 0.25s ease-in-out;
    opacity: 0.5;
    margin: 0.5em;

    &:hover {
      opacity: 1;
    }
  }
}
