@import 'components/Variables.pcss';

body {
  background: var(--color1);
  font-family: var(--font1);
}

:global {
  .svgInlinerWrap {
    position: relative;
  }

  .svgInlinerAspect {
    position: relative;
    display: block;
    width: 100%;
  }

  .svgInlinerSVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
