@import 'components/Variables.pcss';

body {
  background: var(--color1);
  font-family: var(--font1);
}

a {
  color: green;
  lost-column: 1/1;

  &:focus {
    color: purple;
  }

  &:hover {
    color: red;
  }
}
